@use "../../scss/variables" as var;

.auth__root {
  font-family: serif;
  color: var.$cJPBlack;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 85px;

  & > span {
    cursor: pointer;
    &:hover {
      background: linear-gradient(transparent 80%, var.$cJPBrown 99%);
    }
  }
}

@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    padding: 12px;
  }
}

:root {
  --toastify-toast-width: 420px;
}

.span {
  font-weight: bold;
}
