@use "../../scss/variables" as var;

.wrapper {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  background-color: var.$cJPScoreYellow;
  box-shadow: 0 5px 0 darken(var.$cJPScoreYellow, 15%);
  border-radius: 3px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.scorebox {
  position: relative;
  padding: 0.5em 1.5em;
  border-top: solid 1.5px var.$cJPBlack;
  border-bottom: solid 1.5px var.$cJPBlack;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -9px;
    width: 1.5px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: var.$cJPBlack;
  }

  &:before {
    left: 10px;
  }

  &:after {
    right: 10px;
  }
}
