$cGlay: dimgray;
$cWhite: white;

// 和モダンの配色パターン
$cJPBlack: #3f312b; //赤墨
$cJPYellow: #e2bd6a;
$cJPScoreYellow: #f5edde; //scoreboard
$cJPRed: #ba2636; //朱色
$cJPBlue: #00558f; //青藍
$cJPBrown: #8d6e63; //MUI ColorPalette Brown[400]
$cJPBrown_light: #a1887f; //MUI ColorPalette Brown[300]
